<% if (config.deezer.playlist){ %>
<div class="widget deezerpl">
    <h3 class="title">Deezer Playlist</h3>
    <%- deezerpl(config.deezer.playlist, 270, 300) %>
    <small style="display:block;text-align:center;"><a href="/2015/12/Hexo-Deezer-Playlist-Helper/">Want this widget on your Hexo blog?</a></small>
</div>
<% } %>

