<div class="widget social">
  <h3 class="title"><%= __('Around the Web') %></h3>
  <ul class="entry">
    <li><a href="https://github.com/OdinsHat">Github</a></li>
    <li><a href="http://stackshare.io/OdinsHat">Stackshare.io</a></li>
    <li><a href="http://stackoverflow.com/users/288001/rustyfluff">Stack Overflow</a></li>
    <li><a href="https://gitlab.com/u/Muninn">Gitlab</a></li>
    <li><a href="https://twitter.com/tintophat">Twitter</a></li>
    <li><a href="https://uk.linkedin.com/in/dougbromley">LinkedIn</a></li>
  </ul>
</div>