<div class="widget twitter">
    <a class="twitter-timeline" href="https://twitter.com/<%= theme.twitter.username %>" data-widget-id="620300620004786176" data-chrome="noborders" width="270" height="320">Tweets by @<%= theme.twitter.username %></a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>