<% if (page.comments){ %>
<section class="ad">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- My Blog -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-3963961293525568"
     data-ad-slot="7884115738"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</section>
<section id="comment">
  <h1 class="title"><%= __('comment') %></h1>

  <% if (theme.comment_provider == "facebook") {
      if (theme.facebook) { %>
      <%- partial('_partial/facebook_comment', {fbConfig: theme.facebook}) %>
      <% } %>
  <% } else if(config.disqus_shortname) { %>
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
  <% } %>
</section>
<section class="ad">
<!-- Javascript Ad Tag: 28 -->
<div id="wisestamp28A694SD"></div>
<script src="http://tracking.wisestamp.com/aff_ad?campaign_id=28&aff_id=1201&format=javascript&format=js&divid=wisestamp28A694SD" type="text/javascript"></script>
<!-- // End Ad Tag -->
</section>

<% } %>